<div class="row">
	

	<div class="col-md-8">
		<div class="play-info">
			<h2 class="play-title"><%= @play.title %></h2>
			<h3 class="play-director"><span><em>From: </em></span><%= @play.director %></h3>
			<p class="play-desc"><%= @play.description %></p>
		</div>
	</div>

</div>



<div class="links btn-group">
	<%= link_to "Back", root_path, class: "btn btn-primary" %>
	<%= link_to "Edit", edit_play_path(@play), class: "btn btn-custom" %>
	<%= link_to "Delete", play_path(@play), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>

</div>